.similar-book-container{
    display: none;
}

.table-sortable thead th{
    cursor: pointer;
}
/* .table-sortable .th-sort-asc::after{
    content:'\25b4';
}
.table-sortable .th-sort-desc::after{
    content:'\25be';
} */
 .fa-arrow-down-short-wide{
    display: none;
 }
#book-image {
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 30px;
    object-fit: fill;
}
.examined-book-details{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: stretch;
}
#list-examined-book{
    flex: 1;
    display: flex;
    height: 300px;
}
#list-examined-book li{
    flex: 1;
}
@media screen and (max-width: 576px) {
    .examined-book-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.fa-sort{
    margin-left: 0.5rem;
}